// place your custom styles here
#toc .toc-link.level {
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
  font-size: 18px;
}
#toc .toc-link.level2 {
  -webkit-padding-start: 0px;
  padding-inline-start: 14px;
  font-size: 14px;
}
#toc .toc-link.level3 {
  -webkit-padding-start: 8px;
  padding-inline-start: 24px;
  font-size: 12px;
}
.theme-hope-content {

}
